<!DOCTYPE html>
<html>
    <body>
        <!-- <script src="SeedRandom.js"></script> -->
        <!-- <script src="generator.js"></script> -->
        
       
        <div>
            <%- output %>
        </div>
       
    </body>
</html>