<!DOCTYPE html>
<html>
    <body>
        <!-- <script src="SeedRandom.js"></script> -->
        <!-- <script src="generator.js"></script> -->
        <div>
            <form action="/" method="post">
                <label for="seed">Seed:</label><br>
                <input type="text" id="seed" name="seed" value="<%- seed %>"><br>           
                <input type="submit" value="Submit">
            </form>           
        </div>
        
        <div>
            <%- output %>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity= "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="./scripts/generateAjax.js"></script>
    </body>
</html>